body {
    margin: 0;
    padding: 0;
    background-image: url("../images/pexels-mart-production-7255432.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
}

.interviews {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form container styles */
.interviews-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background-image: url("../images/pexels-george-milton-7014337.jpg");
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Label styles */
label {
    font-weight: bold;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 200px;
    /* Adjust width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}


/* Button styles */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}